@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:#062c33; background-color:gold; padding:10px;"> Welcome, @ViewBag.Messages</h1>
    <p>to my <a href="https://github.com/TerminusDeus"> github</a>.</p>
</div>